#container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 10px;
    display: none;
}
textarea {
    overflow-y: hidden;
}
* {
    margin: 20px;
}